códigos/Proyecto_nografico_app/dist/Proyecto_nografico.exe
códigos/Proyecto_nografico_app/Proyecto_nografico.spec
códigos/Proyecto_nografico_app/__pycache__/Proyecto_nografico.cpython-310.pyc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Analysis-00.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/base_library.zip
códigos/Proyecto_nografico_app/build/Proyecto_nografico/EXE-00.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/PKG-00.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Proyecto_nografico.exe.manifest
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Proyecto_nografico.pkg
códigos/Proyecto_nografico_app/build/Proyecto_nografico/PYZ-00.pyz
códigos/Proyecto_nografico_app/build/Proyecto_nografico/PYZ-00.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Tree-00.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Tree-01.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Tree-02.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/warn-Proyecto_nografico.txt
códigos/Proyecto_nografico_app/build/Proyecto_nografico/xref-Proyecto_nografico.html