códigos/Proyecto_nografico_app/dist/Proyecto_nografico.exe
códigos/Proyecto_nografico_app/Proyecto_nografico.spec
códigos/Proyecto_nografico_app/__pycache__/Proyecto_nografico.cpython-310.pyc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Analysis-00.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/base_library.zip
códigos/Proyecto_nografico_app/build/Proyecto_nografico/EXE-00.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/PKG-00.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Proyecto_nografico.exe.manifest
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Proyecto_nografico.pkg
códigos/Proyecto_nografico_app/build/Proyecto_nografico/PYZ-00.pyz
códigos/Proyecto_nografico_app/build/Proyecto_nografico/PYZ-00.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Tree-00.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Tree-01.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/Tree-02.toc
códigos/Proyecto_nografico_app/build/Proyecto_nografico/warn-Proyecto_nografico.txt
códigos/Proyecto_nografico_app/build/Proyecto_nografico/xref-Proyecto_nografico.html
códigos/ChiroFinder_app/ChiroFinder.exe
códigos/ChiroFinder_app/Imagenes usadas/CIDETE-logo.png
códigos/ChiroFinder_app/Imagenes usadas/COLSAPE-logo.png
códigos/ChiroFinder_app/Imagenes usadas/CRUC-logo.png
códigos/ChiroFinder_app/Imagenes usadas/Fondo.png
códigos/ChiroFinder_app/Imagenes usadas/ico.ico
códigos/ChiroFinder_app/Imagenes usadas/icono.png
códigos/ChiroFinder_app/Imagenes usadas/logo.png
códigos/ChiroFinder_app/Imagenes usadas/logo2.png
códigos/ChiroFinder_app/Imagenes usadas/m.png
códigos/ChiroFinder_app/Imagenes usadas/SENACYT-logo.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Artibeus intermedius.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Artibeus jamaicensis.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Artibeus lituratus.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Artibeus phaeotis.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Carollia castanea.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Centurio senex.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Chiroderma trinitatum.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Chiroderma villosum.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Chrotopterus auritus.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Cormura brevirostris.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Desmodus rotundus.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Glossophaga soricina.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Lonchophylla robusta.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Lonchorhina aurita.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Lophostoma silvicola.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Mesophylla macconnelli.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Mimon crenulatum.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Myotis riparius.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Phyllostoma discolor.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Phyllostomus hastatus.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Platyrrhinus helleri.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Pteronotus mesoamericanus.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Saccopteryx bilineata.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Tonatia saurophila.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Uroderma bilobatum.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Uroderma magnirostrum.png
códigos/ChiroFinder_app/Imagenes usadas/Murciélagos/Vampyrodes caraccioli.png
